@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #174794;
    --cor2: #e4e4e4;
    --cor3: #cfcaca;
    --cor4: #0c0c0f;
    --cor6: #11356e;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor3);
}

/* ------------------HEADER------------------ */
    
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor1);
    height: 10vh;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.logo{
    font-size: 2rem;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--cor2);
}

ul{
    list-style: none;
}

.navList{
    display: flex;
    gap: 32px;
}

.navList a{
    position: relative;
    text-decoration: none;
    color: var(--cor2);
    font-size: 1.2rem;
    font-weight: 500;
}

.navList a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--cor2);
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
}

.navList a:hover::after{
    transform: scaleX(1);
}

nav input{
    width: 130px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    border: transparent;
    border-radius: 6px;
    background-color: var(--cor6);
    color: var(--cor2);
    outline: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
    transition: .3s;
}

nav input:hover{
    background-color: var(--cor2);
    color:var(--cor6);
}

nav input:active{
    box-shadow: none;
}

.mobileMenu{
    cursor: pointer;
    display: none;
}

.mobileMenu div{
    width: 32px;
    height: 2px;
    background-color: var(--cor2);
    margin: 8px;
    border-radius: 5px;
    transition: .3s;
}

@media screen and (max-width: 760px) {
    .mobileMenu{
        display: block;
    }

    body{
        overflow-x: hidden;
    }

    .navList{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background-color: var(--cor1);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translatex(100%);
        transition: transform 0.3s ease-in;
    }

    .navList.active{
        transform: translatex(0);
    }

    .navList a{
        opacity: 0;
        display: block;
        padding: 24px;
        gap: 20px;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobileMenu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobileMenu.active .line2{
        opacity: 0;
    }

    .mobileMenu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

}

/* ------------------LOGIN------------------ */

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--cor3);
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.header{
    padding: 24px;
    text-align: center;
    background-color: var(--cor1);
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--cor2);
}

.form-content span{
    position: absolute;
    bottom: -3px;
    left: 0;
    visibility: hidden;
    font-size: .75rem;
    font-weight: 600;
    margin: .25rem;
}

.form button{
    background-color: var(--cor6);
    color: var(--cor2);
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error span{
    color: #ff3b25;
    visibility: visible;
}

.form-content.success input{
    border-color: #1ace65;
}

.form-content i{
    position: absolute;
    top: 40px;
    right: 15px;
}

.fa-eye, .fa-eye-slash{
    cursor: pointer;
}
